In [4]:
# !pip install selenium

In [1]:
from selenium.webdriver import Chrome
import time
import sqlite3
from pandas.io import sql
import os
import pandas as pd

In [81]:
from selenium import webdriver

options = webdriver.ChromeOptions()
options.add_argument("--start-maximized");

browser = webdriver.Chrome('chromedriver', options=options)

In [6]:
# import selenium
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys

# # options = webdriver.ChromeOptions()
# # options.add_argument("--start-maximized");

# # browser = webdriver.Chrome('chromedriver', options=options)

# driver = webdriver.Chrome()

In [82]:
# 빈용기무인회수기 사이트
# url = 'https://www.cosmo.or.kr/home/recyclecollector/recyclecollectorList.do?maxPageItems=10&maxIndexPages=5&searchKey=&searchValue=&menuNo=34&param.resourceCd=01&param.areaCd=&pagerOffset=60'
# url = 'https://www.cosmo.or.kr/home/recyclecollector/recyclecollectorList.do?maxPageItems=10&maxIndexPages=5&searchKey=&searchValue=&menuNo=34&param.resourceCd=01&param.areaCd=&pagerOffset=70'
url = 'https://www.cosmo.or.kr/home/recyclecollector/recyclecollectorList.do?maxPageItems=10&maxIndexPages=5&searchKey=&searchValue=&menuNo=34&param.resourceCd=01&param.areaCd=&pagerOffset=0'
browser.get(url)
browser.implicitly_wait(5)

In [86]:

base_url = 'https://www.cosmo.or.kr/home/recyclecollector/recyclecollectorList.do?maxPageItems=10&maxIndexPages=5&searchKey=&searchValue=&menuNo=34&param.resourceCd=01&param.areaCd=&pagerOffset={}'

NO = []
loc = []
S_NM = []
P_NM = []
address = []
lat = []
lng = []


for n in [0,10,20,30,40,50,60,70]:
    url = base_url.format(n)
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    location_list = soup.find_all('div', attrs = {'class':'list_td'})

    for loc_li in location_list:
    #     print(re.split('[\n\t]+', title.get_text()))
        l = re.split('[\n\t]+', loc_li.get_text())
        cor = loc_li.find('a')['href'].split(',')
        NO.append(l[1])
        loc.append(l[2])
        S_NM.append(l[3])
        P_NM.append(l[4])
        address.append(l[5])
        lat.append(cor[1])
        lng.append(cor[2])
    

df = pd.DataFrame({'no':NO,
               '지역':loc,
              '매장명':S_NM,
              '지점명':P_NM,
              '주소':address,
             '위도':lat,
             '경도':lng})

df

,no,지역,매장명,지점명,주소,위도,경도
0,1,서울,홈플러스,영등포점,서울 영등포구 당산로 42,37.5182396969791,126.895880210522
1,2,서울,하이웨이마트,구의점,서울 광진구 광나루로 516,37.5446133307157,127.086624035232
2,3,서울,이마트,하월곡점,서울 성북구 종암로 167,37.6050587642973,127.030990445726
3,4,서울,이마트,은평점,서울 은평구 은평로 111,37.6008254685415,126.920513478627
4,5,서울,이마트,월계점,서울 노원구 마들로3길 15,37.6265093604229,127.061979778612
...,...,...,...,...,...,...,...
71,72,충북,농협,하나로마트 청주점,충북 청주시 상당구 무농정로 32,36.6048173494679,127.507391938401
72,73,제주,반환수집소,중문동,제주특별자치도 서귀포시 중문상로17번길 3,33.2499671585576,126.42406002378
73,74,제주,반환수집소,강정동,제주특별자치도 서귀포시 신서로 43,33.2538855247603,126.504810584353
74,75,전남,이마트,순천점,전남 순천시 팔마로 191,34.9425719076455,127.508450253353
75,76,전남,농협,동광양점,전남 광양시 공영로 25,34.9364017185471,127.692033541508

In [87]:
df.to_csv('빈용기무인회수기현황.csv', encoding='cp949')

In [ ]:
# //*[@id="content"]/div/div[2]/div/div/div/div/div[2]/div/div[2]/div[1]

# //*[@id="content"]/div/div[2]/div/div/div/div/div[3]

# //*[@id="content"]/div/div[2]/div/div/div/div/div[3]/div/div[2]

# //*[@id="content"]/div/div[2]/div/div/div/div/div[2]/div/div[2]/div[5]/text()

# //*[@id="content"]/div/div[2]/div/div/div/div/div[3]/div/div[2]/div[5]/text()

# //*[@id="content"]/div/div[2]/div/div/div/div/div[11]/div/div[2]/div[5]/text()

In [93]:
# trs = browser.find_elements('xpath','//*[@id="content"]/div/div[2]/div/div/div/div/div[2]/div/div[2]')
# df_list = []
# for tr in trs:
#     df = pd.DataFrame({
#             'NO': [tr.find_element('xpath','div[1]').text],
#             '지역': [tr.find_element('xpath','div[2]').text],
#             '매장명': [tr.find_element('xpath','div[3]').text],
#             '지점명': [tr.find_element('xpath','div[4]').text],
#             '주소': [tr.find_element('xpath','div[5]').text],
#         })
#     df_list.append(df)
    
# ARTICLE_LIST = pd.concat(df_list)
# # db_save(ARTICLE_LIST)

In [91]:
# trs = browser.find_elements('xpath','//*[@id="content"]/div/div[2]/div/div/div/div/div[2]/div/div[2]')
# df_list = []
# for tr in trs:
#     df = pd.DataFrame({
#             'NO': [tr.find_element('xpath','div[1]').text],
#             '지역': [tr.find_element('xpath','div[2]').text],
#             '매장명': [tr.find_element('xpath','div[3]').text],
#             '지점명': [tr.find_element('xpath','div[4]').text],
#             '주소': [tr.find_element('xpath','div[5]').text],
#         })
# #     print(df)
#     df_list.append(df)
    
# ARTICLE_LIST = pd.concat(df_list)
# # db_save(ARTICLE_LIST)

In [92]:
# ARTICLE_LIST

In [90]:
# from bs4 import BeautifulSoup
# import requests

# res = requests.get(url)
# soup = BeautifulSoup(res.text, 'lxml')

In [55]:
# titles[0].get_text()

'\n1\n서울\n홈플러스\n영등포점\n\n\t\t\t\t\t\t\t\t\t\t서울 영등포구 당산로 42\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\n\n'

In [63]:
# titles = soup.find_all('div', attrs = {'class':'list_td'})
# # titles.find_all('href', attrs = {'class':'place'})
# titles[0]

# # for title in titles:
# #     print(title.get_text())

<div class="list_td">
<div>1</div>
<div>서울</div>
<div>홈플러스</div>
<div>영등포점</div>
<div>
										서울 영등포구 당산로 42

											<a class="place" href="https://map.kakao.com/link/map/홈플러스-영등포점,37.5182396969791,126.895880210522" target="_blank" title="지도보기"></a>
</div>
</div>

In [ ]:
# titles = soup.find_all('div', attrs = {'class':'list_td'})
# t

In [74]:
# titles[0].find('a')['href'].split(',')

['https://map.kakao.com/link/map/홈플러스-영등포점',
 '37.5182396969791',
 '126.895880210522']

In [89]:
# import re

# NO = []
# loc = []
# S_NM = []
# P_NM = []
# address = []
# lat = []
# lng = []

# for title in titles:
# #     print(re.split('[\n\t]+', title.get_text()))
#     l = re.split('[\n\t]+', title.get_text())
#     cor = title.find('a')['href'].split(',')
#     NO.append(l[1])
#     loc.append(l[2])
#     S_NM.append(l[3])
#     P_NM.append(l[4])
#     address.append(l[5])
#     lat.append(cor[1])
#     lng.append(cor[2])

In [88]:
# df = pd.DataFrame({'no':NO,
#                    '지역':loc,
#                   '매장명':S_NM,
#                   '지점명':P_NM,
#                   '주소':address,
#                  '위도':lat,
#                  '경도':lng})

# df